body{
    background-color: lightblue;
}
#div1{
    display: flex;
}
.p1{
    color: yellow;
    font-style: oblique;
}
#div2{
    margin-left: auto;
    float: right;
    padding: 20px;
  
}
.div3{
    display: flex;
   position: relative;
   position: absolute;
   top: 30%;
   left: 40%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   font-size: 200%;
   font-style: italic;
}
#H31{color: yellow;}
#H32{color: blue;}
#button1{outline: none;
border: none;
background-color: lightblue;
display: flex;
position: relative;
position: absolute;
left: 20%;
top: 60%;
padding: 10px}
#P2{display: flex;
position: relative;
position: absolute;
left: 20%;
top: 40%;
padding: 10px;
}
